# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Tab indentation for Bash scripts
[*.{bash,sh}]
indent_style = tab

# Space indentation for Justfiles
[*.{just,Justfile}]
indent_style = space
indent_size = 4
