use flake
watch_file rust/rust-toolchain.toml

# Sanity-check that Nix has installed the dev dependencies.
has rake
has git
has cargo
has standardrb

# Ensure that 'cargo' uses this local directories as a state cache.
export CARGO_HOME="$(pwd)"/rust/.cargo
