use flake

# We verify here that the dev env is configured correctly in case devs fail to
# use 'just' to build.
has just
has git
has cargo
export GIT_COMMIT_HASH=$(git rev-parse --short=8 HEAD)
export TOPLEVEL="$(pwd)"
export CARGO_HOME="${TOPLEVEL}"/.cargo
export PATH="$PATH:$(gem environment gemdir)/bin"
