# If the host computer has nix available, use flake to set up the development env
if has nix; then
  watch_file flake.nix
  use flake
fi

# We verify here that the dev env is configured correctly in case devs fail to
# use 'rake' to build.
has rake
has git
has cargo
export GIT_COMMIT_HASH=$(git rev-parse --short=8 HEAD)
export CARGO_HOME="$(pwd)"/.cargo
