# Cargo build output
/rust/target/

# Local Cargo cache
/rust/.cargo/

# Don't ignore the config.toml file
!/rust/.cargo/config.toml

# direnv creates this directory as a cache
.direnv

# direnv reads this file for (local, custom) environment variables
.env

# direnv reads its configuration from .envrc, so never ignore that!
!.envrc

# tier3 blocks
files-to-fetch.list

# Our ephemeral build output
/.build
/result
