/rust/target/
/result
/.gitconfig

# local database
database/

# direnv creates this directory as a cache
.direnv

# direnv reads this file for (local, custom) environment variables
.env

# direnv reads its configuration from .envrc, so never ignore that!
!.envrc

# Editor Droppings
.idea*
.*.swp
/.vscode

# Local Cargo cache
/.cargo/

# Emacs project preferences
.dir-locals.el

# tier3 blocks
files-to-fetch.list
