/rust/target/
/result
/.gitconfig

# local database
database/

# direnv creates this directory as a cache
.direnv

# direnv reads this file for (local, custom) environment variables
.env

# direnv reads its configuration from .envrc, so never ignore that!
!.envrc

# Editor Droppings
.idea*
.*.swp
.*.swo
/.vscode

# Local Cargo cache
/.cargo/
# Don't ignore the config.toml file
!/.cargo/config.toml

# tier3 blocks
files-to-fetch.list

# mina_txn_hasher wrapper
/.local

# Our temporary build output
/.build
