[package]
name = "mina-indexer"
version = "0.1.1"
edition = "2021"

[[bin]]
name = "mina-indexer"
test = true
bench = false

[features]
# required for tests - see https://github.com/rust-lang/cargo/issues/2911
default = ["loose_deserialization"]
loose_deserialization = []
mina_rs = []

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.81"
# https://github.com/bincode-org/bincode/issues/674
bincode = "2.0.0-rc.3"
derive_more = "0.99"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = { version = "1.0.114", features = [
    "raw_value",
    "unbounded_depth",
] }
smart-default = "0.7.1"
clap = { version = "4.5.2", features = ["derive", "string"] }
thiserror = "1.0.58"
glob = "0.3.1"
mina_serialization_proc_macros = { path = "mina_serialization_macros/proc_macros" }
mina_serialization_versioned = { path = "mina_serialization_macros/versioned" }
ark-ec = "0.3.0"
ark-ff = "0.3.0"
sha2 = "0.10.8"
hex = "0.4.3"
rand = "0.8.5"
byteorder = "1.5.0"
num = "0.4.1"
speedb = { version = "0.0.5", default-features = false, features = ["zstd"] }
id_tree = "1.8.0"
time = { version = "0.3.34", features = ["serde-human-readable"] }
log = "0.4.21"
stderrlog = "0.6.0"
bytesize = "1.2.0"
rust_decimal = { version = "1.34.3", features = ["serde"] }
rust_decimal_macros = "1.34.2"
bs58 = { version = "0.5.0", default-features = false, features = ["std", "check"] }
blake2 = "0.10.6"
tempfile = "3.10.1"
actix-web = { version = "4.5.1", default-features = false, features = ["macros"] }
actix-cors = "0.7.0"
async-graphql = "7.0.3"
async-graphql-actix-web = "7.0.3"
base64 = "0.22.0"
hex-literal = "0.4.1"
chrono = "0.4.35"
csv = "1.3.0"
notify = "6.1.1"

[dev-dependencies]
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"
pretty_assertions = "1.4.0"
wasm-bindgen-test = "0.3.42"
lazy_static = "1.4.0"
serde_stacker = "0.1.11"

[dependencies.tokio]
version = "1.36.0"
features = ["full"]
default-features = false

[profile.release]
lto = "fat"
incremental = true

[profile.dev]
debug = 0
# strip = "debuginfo"
