[package]
name = "mina-indexer"
version = "0.1.1"
edition = "2021"

[[bin]]
name = "mina-indexer"
test = true
bench = false

[features]
# required for tests - see https://github.com/rust-lang/cargo/issues/2911
default = ["loose_deserialization"]
loose_deserialization = []
mina_rs = []
browser = []

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.89"
async-trait = "0.1.83"
# https://github.com/bincode-org/bincode/issues/674
bincode = "2.0.0-rc.3"
derive_more = { version = "0.99", default-features = false }
serde = { version = "1.0.210", default-features = false }
serde_json = { version = "1.0.128", default-features = false, features = ["unbounded_depth"] }
smart-default = "0.7.1"
clap = { version = "4.5.17", default-features = false, features = ["help", "usage", "std", "derive", "string"] }
thiserror = "1.0.63"
glob = "0.3.1"
mina_serialization_proc_macros = { path = "mina_serialization_macros/proc_macros" }
mina_serialization_versioned = { path = "mina_serialization_macros/versioned" }
ark-ec = "0.3.0"
ark-ff = "0.3.0"
sha2 = { version = "0.10.8", default-features = false }
hex = "0.4.3"
byteorder = "1.5.0"
num = "0.4.3"
speedb = { version = "0.0.5", default-features = false, features = ["zstd"] }
id_tree = "1.8.0"
time = { version = "0.3.36", default-features = false }
log = "0.4.22"
stderrlog = "0.6.0"
bytesize = "1.3.0"
rust_decimal = { version = "1.36.0", default-features = false }
rust_decimal_macros = "1.36.0"
blake2 = { version = "0.10.6", default-features = false }
bs58 = { version = "0.5.1", default-features = false, features = ["check", "std"]}
tempfile = "3.12.0"
actix-web = { version = "4.9.0", default-features = false , features = ["macros"] }
actix-cors = "0.7.0"
async-graphql = { version = "7.0.11", default-features = false, features = ["graphiql"] }
async-graphql-actix-web = "7.0.11"
base64 = { version = "0.22.1", default-features = false }
hex-literal = "0.4.1"
chrono = { version = "0.4.38", default-features = false }
csv = "1.3.0"
notify = "6.1.1"
tar = "0.4.41"
libc = "0.2.158"
tokio-graceful-shutdown = "0.15.1"

[dev-dependencies]
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"
pretty_assertions = "1.4.1"
wasm-bindgen-test = "0.3.43"
lazy_static = "1.5.0"
serde_stacker = "0.1.11"

[dependencies.tokio]
version = "1.40.0"
features = ["macros", "rt-multi-thread"]
default-features = false

[profile.release]
lto = "fat"
incremental = true

[profile.dev]
debug = 0
strip = "debuginfo"
